<!DOCTYPE html>
<html lang="en">
<head>
    <title>BookMyCovidShot</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Schedule your appointment and get notified when Covid19 vaccine becomes available next">
    <meta name="keywords" content="covid, covid19, vaccine, vaccination, alert, notify, cowin, india">
    <meta property="og:title" content="BookMyCovidShot">
    <meta property="og:url" content="http://bookmycovidshot.com">
    <meta property="og:description" content="Schedule your appointment and get notified when Covid19 vaccine becomes available next">
    <meta property="og:image" content="https://images.unsplash.com/photo-1608422050828-485141c98429?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=622&q=80">

    {% include 'common_assets.html' %}
    <style>
        #alert-success {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        #social-share {
            margin-top: 20px;
        }
        #social-share .share-icon {
            padding-left: 10px;
            font-size: 20px;
        }
        #social-share #whatsapp {
            color: green;
        }
        #social-share #twitter {
            color: rgba(29,161,242,1.00);
        }

    </style>
</head>
<body>


<div class="container">
    {% include 'navbar.html' %}
    <div class="row" id="alert-success">
        <div class="col-md-12">
            <h2>Hi {{username}},</h2><br>
            <h6>
                We have taken a note of your preference and will keep you posted when the vaccine next arrives.
                We wish you and your loved ones a great health. Hope you get vaccinated timely!
            </h6>
            <h6>If you like this service, please feel free to share it with your friends.</h6>
            <br>
            <h6>Your caring buddies,</h6>
            <h6>@BookMyCovidShot</h6>
            <h6><a href="mailto:bookmycovid19shot@gmail.com">bookmycovid19shot@gmail.com</a></h6>
            <h6><a href="http://bookmycovidshot.com">http://bookmycovidshot.com</a></h6>
            <h6 id="social-share">
                Share
                <a href="whatsapp://send?text=Hi, I have scheduled my vaccine alert at BookMyCovidShot. You can do it too at http://bookmycovidshot.com"
                   target="_blank" id="whatsapp" class="share-icon">
                   <i class="fa fa-whatsapp"></i>
                </a>
                <a href="https://twitter.com/intent/tweet?text=Hi, I have scheduled my vaccine alert at BookMyCovidShot. You can do it too at http://bookmycovidshot.com"
                   target="_blank" id="twitter" class="share-icon">
                   <i class="fa fa-twitter"></i>
                </a>
            </h6>
        </div>
    </div>
    {% include 'footer.html' %}
</div>

</body>
</html>
