<div class="row">
    <div class="col-md-12">
        <div class="foo">
            <div class="banner-art"></div>
            <div class="banner-heading">
                <h2>BookMyCovidShot</h2>
                <p>A community initiative to help India fight Covid19 pandemic</p>
            </div>
            <div class="credits">
                Photo by <a href="https://unsplash.com/@hakannural?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hakan Nural</a> on <a href="https://unsplash.com/s/photos/covid-vaccine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </div>
        </div>
    </div>
</div>
