<footer class="bg-light text-center text-lg-start mainfooter" role="contentinfo">
    <div class="footer-middle p-3 text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <p class="text-center">Made with <i class="fa fa-heart" aria-hidden="true"></i> for the community!</p>
            </div>
            <div class="col-md-2" style="text-align: center">
                <ul class="social-network social-circle">
                    <li><a href="https://github.com/return007/bookmycovidshot" class="ico-github" title="GitHub"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:bookmycovid19shot@gmail.com" class="ico-mail" title="Mail"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
