<!-- Registration form to get notified for alerts -->
<div class="row" id="register">
    <div class="col-lg-8">
        <h3>Schedule your alert</h3>
        <form action="/submit" method="POST">
            <div class="form-group">
                <label for="email-id">Email address <span class="mandatory-field">*</span></label>
                <input type="email" class="form-control" id="email-id" aria-describedby="email-help" placeholder="Enter email ID" name="email" required>
                <small id="email-help" class="form-text text-muted">We'll notify you on this Email ID.</small>
            </div>
            <div class="form-group">
                <label for="name-id">Name</label>
                <input type="text" class="form-control" id="name-id" placeholder="Your name" name="username">
            </div>
            <div class="form-group">
                <label for="age-id">Age <span class="mandatory-field">*</span></label>
                <input type="text" class="form-control" id="age-id" placeholder="Your age" name="age" required>
                <small id="email-help" class="form-text text-muted">We understand that its a secret, but we have to use it to check for availability of vaccine.</small>
            </div>
            <div class="form-group">
                <label for="date-id">Preferred date range</label>
                <input type="date" class="form-control" id="start-date-id" placeholder="Start date" name="start_date">
                <input type="date" class="form-control" id="end-date-id" placeholder="End date" name="end_date">
            </div>
            <div class="form-group">
                <label for="pincode-id">Preferred area pincode(s) <span class="mandatory-field">*</span></label>
                <div id="tags">
                    <input type="text" class="form-control" placeholder="Enter a pincode, type a comma to add more">
                </div>
                <input type="hidden" value="" id="pincode-id" name="pincode" required>
            </div>
            <div class="form-group">
                <label for="cvc-id">Vaccination center type</label>
                <select class="custom-select" id="cvc-id" name="cvc_type">
                    <option value="any" selected>Any</option>
                    <option value="Free">Government hospital (free)</option>
                    <option value="Paid">Private hospital (paid)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="vaccine-id">Vaccine preference</label>
                <select class="custom-select" id="vaccine-id" aria-describedby="vaccine-help" name="vaccine_choice">
                    <option value="any" selected>Any</option>
                    <option value="COVISHIELD">Covishield</option>
                    <option value="COVAXIN">Covaxin</option>
                </select>
                <small id="vaccine-help" class="form-text text-muted">As of now, only a few private hospitals let you choose vaccine beforehand.</small>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
